@charset "UTF-8";
/* ------- FUENTES ------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,300&display=swap");
/* ------- RESETEO ------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
*::-moz-selection {
  color: white;
  background-color: #19adf3;
}
*::selection {
  color: white;
  background-color: #19adf3;
}

a:focus-visible {
  outline: 1px solid #3f3f3f;
  border-radius: 10px;
  padding: 4px;
}

/* ------- AJUSTES PARA ELEMENTOS DE BOOTSTRAP ------- */
.contenedor-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}
.contenedor-carousel .carousel-item img {
  margin: 3rem 1rem;
}

.contenedor-carousel-galeria {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
}

/* ------- OBJETOS DE ANIMISTA ------- */
.fade-in-top {
  animation: fade-in-top 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.slide-in-left {
  animation: slide-in-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s both;
}

.slide-in-right {
  animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s both;
}

.fade-in {
  animation: fade-in 1s both;
}

@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ------- HEADER & NAVBAR ------- */
.header {
  background-image: url(../img/gafas/photo147349.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  top: 0;
  z-index: 5;
}

header {
  position: absolute;
  width: 100%;
}
header nav {
  height: 110px;
  width: 100%;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(255, 250, 250, 0.543);
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 1450px) {
  header nav {
    padding: 0 5%;
  }
}
header nav img {
  height: 60px;
  vertical-align: middle;
  transition: all 300ms ease;
  animation-delay: 1.6s;
}
header nav img:hover {
  scale: 1.15;
}
header nav .links {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1450px) {
  header nav .links {
    display: none;
  }
}
header nav .links li {
  transition: all 300ms;
}
header nav .links li:hover {
  scale: 1.15;
}
header nav .links li a {
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 900;
  color: #1d1d1d;
  cursor: pointer;
}
header nav .links li a:hover {
  color: #19adf3;
}
header nav .toggle-btn {
  color: #1d1d1d;
  font-size: 1.6rem;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 1450px) {
  header nav .toggle-btn {
    display: block;
  }
}
header nav .desplegable {
  display: none;
  position: absolute;
  height: 0;
  right: 14%;
  top: 40px;
  width: 300px;
  background-color: rgba(255, 250, 250, 0.892);
  border-radius: 20px;
  overflow: hidden;
  transition: height 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media screen and (max-width: 1450px) {
  header nav .desplegable {
    display: block;
    right: 9%;
  }
}
@media screen and (max-width: 576px) {
  header nav .desplegable {
    left: 5%;
    right: 5%;
    top: 90px;
    width: 90%;
  }
}
header nav .desplegable.open {
  height: 300px;
  text-align: center;
}
header nav .desplegable ul {
  padding: 0;
  margin: 0;
}
header nav .desplegable ul li {
  margin: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
}
header nav .desplegable ul li:hover {
  scale: 1.05;
}
header nav .desplegable ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #1d1d1d;
}
header nav .desplegable ul li a:hover {
  color: #19adf3;
}

/* ------- REDES SOCIALES ------- */
.redes-index {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}
.redes-index .button {
  display: flex;
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 300ms;
}
.redes-index .button:hover {
  scale: 1.2;
}

.icon {
  color: #1d1d1d;
}

.facebook:hover {
  color: #4267b2;
}

.instagram:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.twitter:hover {
  color: #1da1f2;
}

.youtube:hover {
  color: red;
}

.redes-sociales {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: right;
  gap: 0.5rem;
  position: sticky;
  top: 110px;
  padding: 0.5rem 10%;
  z-index: 4;
}
@media screen and (max-width: 1450px) {
  .redes-sociales {
    padding: 0.5rem 5%;
  }
}
@media screen and (max-width: 576px) {
  .redes-sociales {
    justify-content: center;
  }
}
.redes-sociales .button {
  display: flex;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 300ms;
}
.redes-sociales .button:hover {
  scale: 1.2;
}
.redes-sociales .btn-wpp {
  position: fixed;
  width: 80px;
  height: 80px;
  line-height: 80px;
  bottom: 30px;
  right: 30px;
  text-align: center;
  font-size: 50px;
  color: white;
  background: #19d354;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 2;
  transition: all 400ms;
}
@media screen and (max-width: 576px) {
  .redes-sociales .btn-wpp {
    display: none;
  }
}
.redes-sociales .btn-wpp:hover {
  text-decoration: none;
  color: #19d354;
  background: white;
  scale: 1.1;
}

/* ------- INDEX ------- */
.page-title {
  color: transparent;
  background-color: transparent;
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 920px) {
  .inicio-web {
    display: none;
  }
}

.inicio-movil {
  display: none;
}
@media screen and (max-width: 920px) {
  .inicio-movil {
    display: contents;
  }
}

/* ------- PAGE 1 - NOSOTROS ------- */
.grid-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-rows: auto auto auto auto;
  align-items: center;
  grid-template-areas: ".    info          info          ." ".    img-martin    info-martin   ." ".    convenios     convenios     ." ".    garantias     garantias     .";
}
@media screen and (max-width: 1450px) {
  .grid-container {
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: ".    info          info          ." ".    img-martin    img-martin    ." ".    info-martin   info-martin   ." ".    convenios     convenios     ." ".    garantias			garantias     .";
  }
}
@media screen and (max-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    align-items: center;
    grid-template-areas: "   info          info        " "   img-martin    img-martin  " "   info-martin   info-martin " "   convenios     convenios   " "   garantias     garantias   ";
  }
}
.grid-container .descripcion {
  grid-area: info;
  height: 700px;
  top: 200px;
  margin: 1.5rem 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.315), rgba(128, 128, 128, 0.315)), url(../img/local/espacio-principal.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
@media screen and (max-width: 1450px) {
  .grid-container .descripcion {
    background-repeat: repeat-y;
  }
}
.grid-container .descripcion .filter {
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
}
.grid-container .descripcion .filter .data {
  color: #1d1d1d;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 2.1rem;
  height: 600px;
  padding: 5rem;
  background-color: rgba(255, 255, 255, 0.503);
  display: flex;
  flex-direction: column;
  justify-content: right;
  gap: 0.5rem;
  overflow: auto;
}
@media screen and (max-width: 576px) {
  .grid-container .descripcion .filter .data {
    padding: 1.4rem;
  }
}
.grid-container .descripcion .filter .data h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.grid-container .descripcion .filter .data span {
  color: #19adf3;
}
.grid-container .img-martin {
  grid-area: img-martin;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-container .img-martin img {
  height: 450px;
  border-radius: 50%;
  padding: 3rem 0;
}
.grid-container .info-martin {
  grid-area: info-martin;
  display: flex;
  align-items: center;
  color: #1d1d1d;
}
@media screen and (max-width: 576px) {
  .grid-container .info-martin {
    padding: 0 5%;
  }
}
.grid-container .info-martin ul {
  padding: 0;
}
.grid-container .info-martin ul li {
  list-style: none;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.grid-container .info-martin ul .skills {
  display: inline-block;
  background-color: #737373;
  color: white;
  padding: 10px;
  margin: 5px 5px 5px 0;
  border-radius: 15px;
}
.grid-container .info-martin ul .skills:hover {
  background-color: #19adf3;
}
.grid-container .convenios {
  grid-area: convenios;
  margin: 1.5rem 0;
  max-width: 70%;
}
@media screen and (max-width: 576px) {
  .grid-container .convenios {
    padding: 0 5%;
    max-width: 100%;
    text-align: justify;
  }
}
.grid-container .convenios ul {
  padding: 0;
}
.grid-container .convenios ul li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 15px;
}
.grid-container .convenios ul li::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../img/logos/tick-verde.jpg);
  background-size: cover;
}
.grid-container .convenios ul p {
  margin: 20px 0;
  font-size: 1.2rem;
}
.grid-container .garantias {
  grid-area: garantias;
  max-width: 70%;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 1.2rem;
}
@media screen and (max-width: 576px) {
  .grid-container .garantias {
    padding: 0 5%;
    max-width: 100%;
    text-align: justify;
  }
}
.grid-container .garantias span {
  color: #19adf3;
  font-weight: bold;
}
.grid-container .garantias .aclaracion {
  font-size: 1rem;
}
.grid-container .info-martin h2,
.grid-container .convenios h2,
.grid-container .garantias h2 {
  font-size: 1.8rem;
  color: #19adf3;
}

.img-pie {
  height: 15rem;
  background-image: url(../img/local/Plus-Optica-2-a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.img-pie h3 {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 100%;
  color: transparent;
}

/* ------- PAGE 2 - SERVICIOS ------- */
.menu-productos {
  width: 100%;
  padding: 0 10%;
  position: sticky;
  top: 142px;
  background-color: white;
}
.menu-productos .navbar {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.menu-productos .navbar img {
  height: 80px;
}

.contenedor-producto {
  margin: 3rem 10%;
}
.contenedor-producto p {
  max-width: 80%;
}
.contenedor-producto .tick-verde {
  list-style: none;
  padding-left: 0.5rem;
}
.contenedor-producto .tick-verde li::before {
  content: "";
  display: inline-block;
  height: 23px;
  width: 23px;
  background-image: url(../img/logos/tick-verde.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.contenedor-producto .grid {
  margin: 3rem 0;
  display: inline-block;
}
.contenedor-producto .grid p {
  max-width: 100%;
}
.contenedor-producto .img {
  display: block;
  width: 100%;
  height: auto;
  margin: 3rem auto;
}

/* ------------ CATÁLOGO ------------ */
.grid-catalogo {
  display: grid;
  margin: 2rem 10%;
  gap: 4rem;
  transition: all 300ms;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas: "productos    search";
}
@media screen and (max-width: 576px) {
  .grid-catalogo {
    transition: all 300ms;
    grid-template-columns: 1fr;
    grid-template-areas: "search" "productos";
  }
}
.grid-catalogo .buscador {
  grid-area: search;
  border-left: solid 0.1rem #1d1d1d;
  padding-left: 2.5rem;
}
@media screen and (max-width: 920px) {
  .grid-catalogo .buscador {
    border-left: 0;
    padding-left: 0;
  }
}
@media screen and (max-width: 576px) {
  .grid-catalogo .buscador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .grid-catalogo .buscador input::-moz-placeholder {
    text-align: center;
  }
  .grid-catalogo .buscador input::placeholder {
    text-align: center;
  }
}
.grid-catalogo .buscador h3 {
  margin-top: 2rem;
}
@media screen and (max-width: 576px) {
  .grid-catalogo .buscador h3 {
    margin-top: 1rem;
  }
}
.grid-catalogo .buscador ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 576px) {
  .grid-catalogo .buscador ul {
    text-align: center;
  }
}
.grid-catalogo .buscador a {
  text-decoration: none;
  color: #1d1d1d;
}
.grid-catalogo .buscador a:hover {
  color: #19adf3;
}
.grid-catalogo .contenedor-catalogo {
  grid-area: productos;
}
@media screen and (max-width: 576px) {
  .grid-catalogo .contenedor-catalogo h4 {
    text-align: center;
  }
}
.grid-catalogo .contenedor-catalogo .categoria h4 {
  font-size: 2rem;
}
@media screen and (max-width: 1450px) {
  .grid-catalogo .contenedor-catalogo .categoria h4 {
    text-align: center;
  }
}
.grid-catalogo .contenedor-catalogo .categoria .fila-catalogo {
  display: flex;
  gap: 1.5rem;
  margin: 1.5rem 0;
  transition: all 300ms;
}
@media screen and (max-width: 920px) {
  .grid-catalogo .contenedor-catalogo .categoria .fila-catalogo {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .grid-catalogo .contenedor-catalogo .categoria .fila-catalogo {
    gap: 0;
    margin: 0;
  }
}
.grid-catalogo .contenedor-catalogo .categoria .fila-catalogo .caja-producto {
  min-width: 300px;
  border-radius: 15px;
  transition: all 300ms;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.grid-catalogo .contenedor-catalogo .categoria .fila-catalogo .caja-producto:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transform: scale(1.02) translateY(-20px);
}
@media screen and (max-width: 1450px) {
  .grid-catalogo .contenedor-catalogo .categoria .fila-catalogo .caja-producto {
    min-width: 150px;
    transition: all 300ms;
  }
}
@media screen and (max-width: 576px) {
  .grid-catalogo .contenedor-catalogo .categoria .fila-catalogo .caja-producto {
    margin: 1rem 0;
    transition: all 300ms;
  }
}
.grid-catalogo .contenedor-catalogo .categoria .fila-catalogo .caja-producto img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.grid-catalogo .contenedor-catalogo .categoria .fila-catalogo .caja-producto .texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-catalogo .contenedor-catalogo .categoria .fila-catalogo .caja-producto .texto h5 {
  max-width: 200px;
  text-align: center;
  padding-top: 1rem;
  margin: 0 0.5rem;
}
.grid-catalogo .contenedor-catalogo .categoria .fila-catalogo .caja-producto .texto p {
  max-width: 200px;
  text-align: center;
}

/* ------------ RESERVAS ------------ */
.contenedor-reserva {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #1d1d1d;
  font-size: 1.4rem;
}
.contenedor-reserva .reserva-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  position: absolute;
  z-index: 3;
  margin-top: 3.5rem;
}
.contenedor-reserva .reserva-form h2 {
  font-size: 4rem;
  border-radius: 30px;
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.624);
}
.contenedor-reserva .reserva-form input {
  width: 80%;
  font-size: 1.4rem;
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0.624);
  border: none;
  border-radius: 50px;
  text-align: center;
}
.contenedor-reserva .reserva-form input::-moz-placeholder {
  color: #1d1d1d;
}
.contenedor-reserva .reserva-form input::placeholder {
  color: #1d1d1d;
}

.fondo {
  width: 480px;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .fondo {
    width: 100%;
  }
}

/* ------------ FOOTER ------------ */
footer {
  background-color: #1d1d1d;
  width: 100%;
  padding: 3rem;
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
@media screen and (max-width: 920px) {
  footer {
    display: inline-block;
  }
}
footer .col-footer {
  color: #a8a8a8;
  font-weight: 400;
}
footer .col-footer h3 {
  font-weight: 700;
  font-size: 1.3rem;
}
@media screen and (max-width: 920px) {
  footer .col-footer ul {
    margin: 1.5rem;
  }
}
footer .col-footer li {
  list-style: none;
  line-height: 23px;
}
footer .col-footer a {
  color: #a8a8a8;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */