/* ------- INDEX ------- */
.page-title {
  color: transparent;
  background-color:transparent;
  position: absolute;
  z-index: -1;
}

.inicio-web {
  @include tablet {
    display: none;
  }
}

.inicio-movil {
  display: none;

  @include tablet {
    display: contents;
  }
}