/* ------------ CATÁLOGO ------------ */
.grid-catalogo {
  display: grid;
  margin: 2rem 10%;
  gap: 4rem;
  grid-template-columns: 1.5fr 1fr;

  grid-template-areas:
    "productos    search"
  ;

  @include movil {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "search"
    "productos"
    ;
  }
  
  .buscador {	
    grid-area: search;
    border-left: solid .1rem $fontColor;
    padding-left: 2.5rem;

    @include tablet {
      border-left: 0;
      padding-left: 0;
    }

    @include movil {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      input::placeholder {
        text-align: center;
      }
    }

    h3 {
      margin-top: 2rem;

      @include movil {
        margin-top: 1rem;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      @include movil {
        text-align: center;
      }
    }
    
    a {
      text-decoration: none;
      color: $fontColor;

      &:hover {
        color: $mainColor;
      }
    }
  }
  
  .contenedor-catalogo {
    grid-area: productos;

    @include movil {
      h4 {
        text-align: center;
      }
    }
    
    .categoria {  
      h4 {
        font-size: 2rem;
      }
      
      .fila-catalogo {
        display: flex;
        gap: 1.5rem;
        margin: 1.5rem 0;
      
        @include tablet {
          flex-direction: column;
          align-items: center;
        }
        
        .caja-producto {
          @include movil {
            margin: 1.5rem 0;
          }
        
        h5 {
          max-width: 200px;
          text-align: center;
        }

        p {
          max-width: 200px;
          text-align: center;
        }

        img {
          width: 200px;
        }
      
        }
      }
    }

  }
}

