/* ------- PAGE 1 - NOSOTROS ------- */
.grid-container {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: 10% 1fr 1fr 10%;
	grid-template-rows: auto auto auto auto;
	align-items: center;

	grid-template-areas:
		".    info          info          ."
		".    img-martin    info-martin   ."
		".    convenios     convenios     ."
		".    garantias     garantias     ."
	;

  @include desktop {
    grid-template-columns: 5% 1fr 1fr 5%;
		grid-template-rows: auto auto auto auto auto;	
		grid-template-areas:
			".    info          info          ."
			".    img-martin    img-martin    ."
			".    info-martin   info-martin   ."
			".    convenios     convenios     ."
			".    garantias			garantias     ."
		;
  }

  @include movil {
    grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto auto;
		align-items: center;	
		grid-template-areas:
			"   info          info        "
			"   img-martin    img-martin  "
			"   info-martin   info-martin "
			"   convenios     convenios   "
			"   garantias     garantias   "
		;
  }

  .descripcion {
    grid-area: info;
    height: 700px;
    top: 200px;
    margin: 1.5rem 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.315),rgba(128, 128, 128, 0.315)), url(../img/local/espacio-principal.avif);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;

    @include desktop {
      background-repeat: repeat-y;
    }

    .filter {
      height: 100%;
      backdrop-filter: blur(5px);
      display: flex;
      align-items: center;

      .data {
        color: $fontColor;
        font-size: 1.2rem;
        text-align: justify;
        line-height: 2.1rem;
        height: 600px;
        padding: 5rem;
        background-color: rgba(255, 255, 255, 0.503);
        display: flex;
        flex-direction: column;
        justify-content: right;	
        gap: .5rem;
        overflow: auto;

        @include movil {
          padding: 1.4rem;
        }

        h2 {
          font-size: 1.8rem;
          margin-bottom: 1rem;
        }

        span {
          color: $mainColor;
        }
      }
    }
  }

  .img-martin {
    grid-area: img-martin;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      height: 450px;
      border-radius: 50%;
      padding: 3rem 0;
    }
  }

  .info-martin {
    grid-area: info-martin;
    display: flex;
    align-items: center;
    color: $fontColor;

    @include movil {
      padding: 0 5%;
    }

    ul {
      padding: 0;

      li {
        list-style: none;
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: .2rem;
        font-weight: bold;
      }

      .skills {
        display: inline-block;
        background-color: #737373;
        color: white;
        padding: 10px;
        margin: 5px 5px 5px 0;
        border-radius: 15px;

        &:hover {
          background-color: $mainColor;
        }
      }
    }
  }

  .convenios {
    grid-area: convenios;
    margin: 1.5rem 0;
    max-width: 70%;

    @include movil {
      padding: 0 5%;
      max-width: 100%;
      text-align: justify;
    }

    ul {
      padding: 0;

      li {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 5px;
        gap: 15px;

        &::before {
          content: '';
          display: inline-block;
          width: 25px;
          height: 25px;
          background-image: url(../img/logos/tick-verde.avif);
          background-size: cover;
        }
      }

      p {
        margin: 20px 0;
        font-size: 1.2rem;
      }
    }
  }

  .garantias {
    grid-area: garantias;
    max-width: 70%;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 1.2rem;

    @include movil {
      padding: 0 5%;
      max-width: 100%;
      text-align: justify;
    }

    span {
      color: $mainColor;
      font-weight: bold;
    }

    .aclaracion {
      font-size: 1rem;
    }
  }

  .info-martin h2,
  .convenios h2,
  .garantias h2 {
    font-size: 1.8rem;
    color: #19adf3;
  }
}

.img-pie {
  height: 15rem;
  background-image: url(../img/local/Plus-Optica-2-a.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;

  h3 {
    backdrop-filter: blur(5px);
    height: 100%;
    color: transparent;
  }
}