/* ------------ CATÁLOGO ------------ */
.grid-catalogo {
  display: grid;
  margin: 2rem 10%;
  gap: 4rem;
  transition: all 300ms;
  grid-template-columns: 1.5fr 1fr;

  grid-template-areas:
    "productos    search"
  ;

  @include movil {
    transition: all 300ms;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "search"
    "productos"
    ;
  }
  
  .buscador {	
    grid-area: search;
    border-left: solid .1rem $fontColor;
    padding-left: 2.5rem;

    @include tablet {
      border-left: 0;
      padding-left: 0;
    }

    @include movil {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      input::placeholder {
        text-align: center;
      }
    }

    h3 {
      margin-top: 2rem;

      @include movil {
        margin-top: 1rem;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      @include movil {
        text-align: center;
      }
    }
    
    a {
      text-decoration: none;
      color: $fontColor;

      &:hover {
        color: $mainColor;
      }
    }
  }
  
  .contenedor-catalogo {
    grid-area: productos;

    @include movil {
      h4 {
        text-align: center;
      }
    }
    
    .categoria {  
      h4 {
        font-size: 2rem;

        @include desktop {
          text-align: center;
        }
      }
      
      .fila-catalogo {
        display: flex;
        gap: 1.5rem;
        margin: 1.5rem 0;
        transition: all 300ms;
      
        @include tablet {
          flex-direction: column;
          align-items: center;
        }

        @include movil {
          gap: 0;
          margin: 0;
        }
        
        .caja-producto {
          min-width: 300px;
          border-radius: 15px;
          transition: all 300ms;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            transform: scale(1.02) translateY(-20px);
          }

          @include desktop {
            min-width: 150px;
            transition: all 300ms;
          }

          @include movil {
            margin: 1rem 0;
            transition: all 300ms;
          }

          img {
            width: 100%;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
          }
        
          .texto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          
            h5 {
              max-width: 200px;
              text-align: center;
              padding-top: 1rem;
              margin: 0 .5rem;
            }
    
            p {
              max-width: 200px;
              text-align: center;
            }
          }
        }
      }
    }

  }
}

