/* ------- PAGE 2 - SERVICIOS ------- */
.menu-productos {
	width: 100%;
	padding: 0 10%;
	position: sticky;
  z-index: 5;
	top: 142px;
	background-color: white;

  .navbar {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    
    @include movil {
      gap: 1rem;
    }

    a {
      scroll-margin-top: 250px;
    }
    
    img {
      transition: all 300ms;
      height: 80px;
      margin: .5rem auto;

      
      
      &:hover {
        scale: 1.1;
      }
      
      @include movil {
        height: 60px;
      }
    }    
  }
}

.contenedor-carousel-galeria {
  height: 65vh;
  margin: 1rem;

  @include movil {
    margin: 0;
  }

  .carousel-inner {
    max-width: 527px;

    @include movil {
      width: 100%;
    }

    .carousel-item {
      img {
        height: 65vh;
      }
    }
  }
}

.contenedor-producto {
	margin: 3rem 10%;

  h2 {
    color: $mainColor;

    @include movil {
      text-align: center;
    }
  }

  p {
    max-width: 80%;

    @include movil {
      max-width: 100%;
      text-align: center;      
    }
  }

  span {
    font-weight: bolder;
  }
  
  .grid {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 150px auto;
    row-gap: 1rem;
    align-items: center;

    @include movil {
      grid-template-columns: auto;
      text-align: center;
    }

    h3 {
      font-style: italic;
      font-size: x-large;
      color: $mainColor;
    }

    p {
      max-width: 100%;
      margin: 0;
    }
  }

  .tick-verde {
    list-style: none;
    padding-left: .5rem;

    li::before {
      content: '';
      display: inline-block;
      height: 23px;
      width: 23px;
      background-image: url(../img/logos/tick-verde.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: .5rem;
      vertical-align: middle;
    }
  }

  .zeiss,
  .zeiss-sport {

    img {
      display: block;
      margin: 2.5rem auto;

      @include tablet {
        width: 100%;
      }
    }
  }
}